.THIS .slds-form-element label
{
    width:100%;
    text-align:right;
    margin-top:2px;
}
.THIS input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.THIS input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.THIS .slds-button_red
{
    color: #fff;
    background: #A90533;
    text-transform:uppercase;
    border-radius:0;
    font-size: 8px;
    padding-left:3px;
    padding-right:3px;
}
.THIS .price
{
    color:#A90533;
    font-weight:bold;
    margin:5px;
}
.THIS .tab-header
{
    font-size:18px;
    line-height:44px;
    padding-left:10px;
}
.THIS .product-item .item-inner
{   
    box-shadow: 0px 0px 3px 2px rgba(23,84,116,0.18);
    border: solid 0.9px #f3f3f3;
    position:relative;
    overflow:hidden;
}
.THIS .product-item
{
    margin:6px;
    background:white;
}
.THIS .product-item-photo
{
    height: 160px;
    width: 100%;
    display: block;
    background-size: contain !important;
    background-repeat: no-repeat!important;
    background-position: center !important;
}
.THIS  .no-item-img
{
    background-size: 60% !important;
    background-position: 50% !important;
}
.THIS .product-item img
{
    max-width:100%;
}
.THIS .color-area {
    margin-bottom: 18px;
    overflow: hidden
}
.THIS .color ul li {
    border: 0 none;
    float: left;
    margin-right: 5px
}
.THIS .color ul li a {
    clear: both;
    background: #000000;
    float: left;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    height: 20px;
    width: 20px;
    border: 1px solid #e0e0e0
}
/*.THIS .BLACK {
background: #e32b00 !important;
}*/
.THIS .RED {
    background: #e32b00  !important;
}
.THIS .NATURAL {
    background: #FFFFFF  !important;
}
.THIS .WHITE {
    background: #FFFFFF  !important;
}
.THIS .ORANGE {
    background: #ff9000  !important;
}
.THIS .GREEN {
    background: #8BC44A  !important;
}
.THIS .YELLOW {
    background: YELLOW  !important;
}
.THIS .PURPLE {
    background: PURPLE  !important;
}
.THIS .GREY {
    background: GREY  !important;
}
.THIS .GRAY {
    background: GREY  !important;
}
.THIS .CLEAR {
    background: #FFFFFF  !important;
}
.THIS .BROWN {
    background: BROWN  !important;
}
.THIS .PINK {
    background: PINK  !important;
}
.THIS .BLUE {
    background: #0000FF  !important;
}
/*TESCO 2020-03-06 Tony added */
.THIS .Pearl {
    background: #F5DDDA  !important;
}
.THIS .Cream {
    background: #FFFDD0  !important;
}
.THIS .Natural {
    background: #FFFFFF  !important;
}
/*NEW LOOK 2020-01-15 Tony added */
.THIS .Silver {
    background: #C0C0C0  !important;
}
/*TARGET COLOR 2019-Nov-29 9 - Tony added*/
.THIS .P-142U {
    background: #F8B05D  !important;
}
.THIS .P-409U {
    background: #948B8A  !important;
}
.THIS .P-486U {
    background: #F08D80  !important;
}
.THIS .P-500U {
    background: #CC858A  !important;
}
.THIS .P-522U {
    background: #BC9FC6  !important;
}
.THIS .P-549U {
    background: #6899AE  !important;
}
.THIS .P-563U {
    background: #76B9AF  !important;
}
.THIS .P-577U {
    background: #B3C98C  !important;
}
.THIS .P-4665U {
    background: #CAA58E  !important;
}
.THIS .P-5295U {
    background: #B1AFC3  !important;
}
.THIS .P-7458U {
    background: #67A5BF  !important;
}
.THIS .P-124U {
    background: #D79133  !important;
}
.THIS .P-145U {
    background: #C97F3A  !important;
}
.THIS .P-167U {
    background: #B46647  !important;
}
.THIS .P-187U {
    background: #AE535C  !important;
}
.THIS .P-262U {
    background: #755E74  !important;
}
.THIS .P-329U {
    background: #2E7572  !important;
}
.THIS .P-378U {
    background: #4D590D  !important;
}
.THIS .P-702U {
    background: #D87987  !important;
}
.THIS .P-1595U {
    background: #D37046  !important;
}
.THIS .P-2955U {
    background: #395775  !important;
}
.THIS .P-5487U {
    background: #697C7D  !important;
}
.THIS .P-5747U {
    background: #70744E  !important;
}
.THIS .P-7459U {
    background: #518EAA  !important;
}
.THIS .P-7469U {
    background: #3C6E89  !important;
}
.THIS .P-7649U {
    background: #935379  !important;
}
.THIS .P-7668U {
    background: #7B81A4  !important;
}
.THIS .P-8U {
    background: #939598  !important;
}
/*End Target Color*/
.THIS .color a:active
{
    box-shadow:0px 0px 2px 1.2px #a90533;
}
.THIS .color a:focus
{
    box-shadow:0px 0px 2px 1.2px #a90533;
}
.THIS .color a:target
{
    box-shadow:0px 0px 2px 1.2px #a90533;
}

.THIS .selected-color-icon
{
    position: absolute;
    margin-top: 6px;
    margin-left: 6px;
    z-index:1;
}
/*.THIS .selected-color-icon a
{
border-radius:21px;
}
.THIS .input-qty input
{
padding-left:30px;
}
*/
.THIS .selected-color-icon a
{
    border-radius: 4px 0 0 4px;
    width: 8px !important;
    height: 32px !important;
    margin-left: -6px;
    margin-top: -6px;
}

/*.THIS .color ul li:nth-child(2) a {
background: #e32b00
}
.THIS .color ul li:nth-child(3) a {
background: #ff9000
}
.THIS .color ul li:nth-child(4) a {
background: #8BC44A
}
.THIS .color ul li:nth-child(5) a {
background: #10b9b9
}
.THIS .color ul li:nth-child(6) a {
background: #FFFFFF
}*/
.THIS .product-item .item-inner {
    /*margin-bottom: 25px;*/
    
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 6px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}
.THIS .product-item .item-inner:hover {
    border: 2px solid #A90533;
}
.THIS .product-item .item-inner:hover .product-thumbnail .btn-quickview {
    /*background: rgba(0,0,0,0.7);*/
    opacity: 1;	
}
.THIS .product-item .item-inner .product-thumbnail {
    position: relative;
    text-align: center;
}
.THIS .product-item .item-inner .product-thumbnail .btn-quickview {
    background: none;
    padding: 0;
    line-height: inherit;
    position: absolute;
    top: 98px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    opacity: 0;
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.THIS .product-item .item-inner .product-thumbnail .btn-quickview span {
    background: #fff;
    border: 1px solid #cccccc;
    color: #444444;
    padding: 0 12px;
    line-height: 32px;
    text-transform: inherit;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-transform: uppercase;
    font-weight:bold;
}
.THIS .product-item .item-inner .product-thumbnail .btn-quickview span:hover {
    color: #fff;
    background: #A90533;
    border: 1px solid #A90533;
}

.THIS .pagination-area {
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    border-top: 1px solid #eee;
    margin: 10px 0 0;
    padding-top: 20px;
    text-align: center;
    display: inline-block;
    width: 100%
}
.THIS .pagination-area ul {
    margin-bottom: 0px
}
.THIS .pagination-area ul li {
    background: #f5f5f5;
    color: #393939;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 0 5px;
    border-radius: 0px
}
.THIS .pagination-area ul li a {
    border: 1px solid #e0e0e0;
    color: #363636;
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 0px;
    transition: all .4s ease-out .2s;
    padding:0 6px;
}
.THIS .pagination-area ul li a:hover {
    background: #000000;
    border: 1px solid #000000;
    color: #fff;
}
.THIS .pagination-area ul li a.active {
    background: #A90533;
    border: 1px solid #A90533;
    border-radius: 0px;
    color: #fff;
    transition: all .4s ease-out .2s
}

/*.THIS .slds-tabs_default__link:before
{
content: "\f002";
display: inline-block;
font-family: FontAwesome;
font-size: 13px;
font-weight: normal;
left: 12px;
line-height: 31px;
margin-right: 5px;
position: absolute;
top: -1px;
}*/

.THIS .sale-left {
    left: -28px;
    top: -12px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    background:deepskyblue;
}

.THIS .sale-right {
    right: -28px;
    top: -12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background: #a90533;    
}

.THIS .icon-sale-label {
    font-size: 8px;
    color: #fff;
    text-transform: uppercase;
    padding: 0px;
    text-align: center;
    display: block;
    position: absolute;
    top: -12px;
    z-index: 1;
    font-weight: bold;
    width: 75px;
    height: 40px;
    line-height: 41px;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 10px;
}
.THIS .slds-button_red-disabled
{
    background: #c9c7c5 !important;
    border-color: #c9c7c5 !important;
    color: #fff !important;
}